{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>

    <h7>By: {{ post.author.first_name }} {{ post.author.last_name }} - </h7>
    <small> {{ post.post_date }}</small>
    <hr>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}"><br><br>
        <br><br>
    {% endif %}
    {{ post.body|safe }}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a style="display:inline" class="nav-link" href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a></small>
            <br><br>

    {% endif %}
        {% endif %}

<hr><br>

    <form action="{% url 'like_post' post.pk %}" method="post">
        {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm" >Unlike</button>
        {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm" >Like</button>
        {% endif %}
     {% else %}
        <small><a href="{% url 'login' %}">Login to like</a></small>
    {% endif %}
        <br>{{ total_likes }} Likes
    </form>
<br>

<div class="card" style="width: 18rem;">
    {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" alt="" width=130 height=130 class="rounded-circle">
    {% else %}
        <img src="{% static 'theblog/images/TikTok.jpg' %}" alt="" width=130 height=130 class="rounded-circle">
    {% endif %}
  <div class="card-body">
      {% if post.author.profile %}
            <h5 class="card-title"><a href="{% url 'show_profile_page' post.author.profile.id %}">
        {{ post.author.first_name}} {{ post.author.last_name }}</a></h5>
      {% else %}
            <h5 class="card-title">{{ post.author.first_name}} {{ post.author.last_name }}</h5>
      {% endif %}
    <p class="card-text">{{ post.author.profile.bio }}</p>
  </div>
  <ul class="list-group list-group-flush">

      {% if post.author.profile.website_url %}
          <li class="list-group-item"><a href="{{ post.author.profile.website_url }}">Site</a></li>
      {% endif %}

      {% if post.author.profile.instagram_url %}
           <li class="list-group-item"><a href="{{ post.author.profile.instagram_url }}">Instagram</a></li>
      {% endif %}

      {% if post.author.profile.facebook_url %}
           <li class="list-group-item"><a href="{{ post.author.profile.facebook_url }}">Facebook</a></li>
      {% endif %}

      {% if post.author.profile.twitter_url %}
           <li class="list-group-item"><a href="{{ post.author.profile.twitter_url }}">Twitter</a></li>
      {% endif %}

      {% if post.author.profile.github_url %}
           <li class="list-group-item"><a href="{{ post.author.profile.github_url }}">GitHub</a></li>
      {% endif %}
  </ul>
</div>
<h2>Comments</h2><br>
<hr>
{% if not post.comments.all %}
    No comments yet... <a href="#">Add one</a>
{% else %}
    {% for comment in post.comments.all %}
        <strong>
            {{ comment.name }} -
            {{ comment.date_added }}
        </strong><br>
        {{ comment.body}}
<hr>
    {% endfor%}

{% endif %}

<br>
<br>
    <a href="{% url 'home' %}" class="btn btn-info">Back to main page</a>
{% endblock %}


