{% extends 'base.html'%}

{% block title %} {{ post.title }} {% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>

    <h7>By: {{ post.author.first_name }} {{ post.author.last_name }} - </h7>
    <small> {{ post.post_date }}</small>
    <hr>
    {{ post.body|safe}}
    <br><br>
    <hr>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a style="display:inline" class="nav-link" href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a></small>
            <br><br>

    {% endif %}
        {% endif %}

<hr><br>

    <form action="{% url 'like_post' post.pk %}" method="post">
        {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm" >Unlike</button>
        {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm" >Like</button>
        {% endif %}
     {% else %}
        <small><a href="{% url 'login' %}">Login to like the post</a></small>
    {% endif %}
        <br>{{ total_likes }} Likes
    </form>

<br>
    <a href="{% url 'home' %}" class="btn btn-info">Back to main page</a>
{% endblock %}


