   {% extends 'base.html'%}
    {% block content %}

<p>
   <h1>&nbsp; Posts </h1>

    <ul>
    {% if user.is_authenticated %}
        {% for post in object_list %}
    <li>   <div class="table"><a href="{%url 'article-detail' post.pk%}">{{ post.title }}</a> - {{ post.category }} - {{post.author.first_name}}
        {{ post.author.last_name }} <br>
        {{ post.body|truncatewords:35 }}<br>
        <small><a style="display:inline" class="nav-link" href="{% url 'update_post' post.pk %}">Edit</a></small>
        <small><a style="display:inline" class="nav-link" href="{% url 'delete_post' post.pk %}">Delete</a></small><br>
        <small>&emsp;&nbsp;{{ post.post_date }}</small></div>
    </li>
        <br>
    {% endfor %}
    {% else %}
        {% for post in object_list %}
    <li>   <div class="table"><a href="{%url 'article-detail' post.pk%}">{{ post.title }} - {{ post.category }} </a> - {{post.author.first_name}}
        {{ post.author.last_name }} <br>
        {{ post.body|truncatewords:35|safe }}<br>
        <small>&emsp;&nbsp;{{ post.post_date }}</small></div>
    </li>
        <br>
    {% endfor %}
    {% endif %}

    </ul>



    {%endblock%}