{% extends 'base.html' %}
{% block title %}
Edit Profile Page
{% endblock %}

{% block content%}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
    <h1> Edit Profile Page</h1>
    <br>
        <div class="form-group">
            <form action="" method="post" enctype="multipart/form-data">
             {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-info">Update</button>

        </form>
        </div>
{% else %}
<h2>you're not the correct user to see this page</h2>
    <a href="{% url 'home' %}"> Back to home page</a>
{% endif%}
{% else %}
    <h2>You must be logged in to see this page.</h2>
    <a href="{% url 'login'%}">Login</a> <br>
    <a href="{% url 'home' %}"> Back to home page</a>
{% endif %}


{% endblock %}